{% extends "dashboard/base.html" %}
{% block title %}Sinistros{% endblock %}

{% block content %}

<h3 class="mb-3">Sinistros</h3>

<form method="get" class="row g-2 mb-3">
  <div class="col-md-3">
    <select name="tipo" class="form-select">
      <option value="">Todos os tipos</option>
      <option value="CARRO">Carro</option>
      <option value="MOTO">Moto</option>
    </select>
  </div>

  <div class="col-md-2">
    <button class="btn btn-warning w-100">Filtrar</button>
  </div>
</form>

<table class="table table-bordered table-striped">
  <thead class="table-warning">
    <tr>
      <th>Data</th>
      <th>Usuário</th>
      <th>Tipo</th>
      <th>Endereço</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for s in sinistros %}
      <tr>
        <td>{{ s.data_hora }}</td>
        <td>{{ s.usuario.username }}</td>
        <td>{{ s.tipo_principal }}</td>
        <td>{{ s.endereco }}</td>
        <td>
          <a href="{% url 'dashboard:sinistro_detail' s.id %}"
             class="btn btn-sm btn-outline-dark">
            Ver
          </a>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="5" class="text-center">
          Nenhum sinistro encontrado
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<nav>
  <ul class="pagination">
    {% for p in pages %}
      <li class="page-item {% if p == page %}active{% endif %}">
        <a class="page-link" href="?page={{ p }}">{{ p }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>

{% endblock %}
